extends layout

block content

    link(rel='stylesheet', href='/datepicker/css/bootstrap-datepicker.min.css')
    script(src='/datepicker/js/bootstrap-datepicker.min.js')
    script(src='/javascripts/common.js')
    script(src='/javascripts/slinky-links.js')

    h3(class='text-center') All Links
    table(class='table table-bordered')
        thead
            tr
                th Destination URL
                th Link URL
                th Anchor Text
                th Link Live Date
                th Domain Authority
                th Spam Score
                th Page Rank
                th Title
                th 
        tbody(id='links-table')
            tr
                td
                    input(type='text' class='form-control' id='destination_url' placeholder='Destination URL')
                td
                    input(type='text' class='form-control' id='link_url' placeholder='Link URL')
                td
                    input(type='text' class='form-control' id='anchor_text' placeholder='Anchor Text')
                td
                    div(class='input-group')
                        span(class='input-group-addon') From
                        div(class='input-group date' data-provide='datepicker' data-date-format='yyyy-mm-dd')
                            input(class='form-control' id='link_live_date_start' placeholder='Start Date')
                            div(class='input-group-addon')
                                span(class='glyphicon glyphicon-calendar')
                        span(class='input-group-addon' style='border-left: 0; border-right: 0;') to
                        div(class='input-group date' data-provide='datepicker' data-date-format='yyyy-mm-dd')
                            input(class='form-control' id='link_live_date_end' placeholder='End Date')
                            div(class='input-group-addon')
                                span(class='glyphicon glyphicon-calendar')
                td
                    input(type='text' class='form-control' id='domain_authority' placeholder='Domain Authority')
                td
                    input(type='text' class='form-control' id='spam_score' placeholder='Spam Score')
                td
                    input(type='text' class='form-control' id='page_rank' placeholder='Page Rank')
                td
                    input(type='text' class='form-control' id='title' placeholder='Title')
                td
                    button(type='button' class='btn btn-primary' onClick='filterLinks();') Filter
            each link in links
                tr(class='links-data' id='link-'+link.LinkID)
                    td(style='vertical-align:middle;')= link.DestinationURL
                    td(style='vertical-align:middle;')= link.LinkURL
                    td(style='vertical-align:middle;')= link.AnchorText
                    td(class='text-center' style='vertical-align:middle;') #{moment(link.LinkLiveDate).format("YYYY-MM-DD")}
                    td(style='vertical-align:middle;')= link.DomainAuthority
                    td(style='vertical-align:middle;')= link.SpamScore
                    td(style='vertical-align:middle;')= link.PageRank
                    td(style='vertical-align:middle;')= link.PageTitle
                    td(class='text-center' style='vertical-align:middle;')
                        a(href='/slinky-links/links/edit?LinkID='+link.LinkID class='btn btn-warning btn-xs') Edit
                        button(onClick='deleteLink('+link.LinkID+')' class='btn btn-danger btn-xs') Delete