extends layout

block content

    link(rel='stylesheet', href='/datepicker/css/bootstrap-datepicker.min.css')
    script(src='/datepicker/js/bootstrap-datepicker.min.js')
    script.
        var allCampaigns = !{JSON.stringify(campaigns)};
        var selectedCampaign = !{result.CampaignID};
        var selectedLinkType = !{result.LinkTypeID};
        
        var original_hostname = '!{result.HostName}';
        var original_campaign = '!{result.CampaignID}';
        var original_link_type = '!{result.LinkTypeID}';
        var original_destination_url = '!{result.DestinationURL}';
        var original_link_url = '!{result.LinkURL}';
        var original_anchor_text = '!{result.AnchorText}';
        var original_link_live_date = '!{moment(result.LinkLiveDate).format("YYYY-MM-DD")}';
    script(src='/javascripts/common.js')
    script(src='/javascripts/slinky-links.js')

    script.
        $(document).ready(function() {
            $('#campaign').val(selectedCampaign);
            $('#link-type').val(selectedLinkType);
        });

    div.container
        h3(class='text-center') Edit Link
        div.form-group
            label(for='domain') Domain
            input(class='form-control' id='domain' value=result.HostName)
            input(class='form-control' id='LinkID' value=result.LinkID type='hidden')
            input(class='form-control' id='DomainID' value=result.DomainID type='hidden')
        div.form-group
            label(for='campaign') Campaign
            select(class='form-control' id='campaign')
                option(value='' selected='true') 
        div.form-group
            label(for='link-type') Link Type
            select(class='form-control' id='link-type')
        div.form-group
            label(for='destination-url') Destination URL
            input(class='form-control' id='destination-url' placeholder='http://www.example.com' value=result.DestinationURL)
        div.form-group
            label(for='link-url') Link URL
            input(class='form-control' id='link-url' placeholder='http://www.example.com' value=result.LinkURL)
        div.form-group
            label(for='anchor-text') Anchor Text
            input(class='form-control' id='anchor-text' value=result.AnchorText)
        div.form-group
            label(for='link-live-date') Link Live Date
            div(class='input-group date' data-provide='datepicker' data-date-format='yyyy-mm-dd')
                input(class='form-control' id='link-live-date' readonly='readonly' value=moment(result.LinkLiveDate).format("YYYY-MM-DD"))
                div(class='input-group-addon')
                    span(class='glyphicon glyphicon-calendar')
        div(class='form-group text-center')
            button(class='btn btn-primary' id='submit-btn') Submit
            span &nbsp;
            button(class='btn btn-default' id='reset-btn') Reset